body {
    background-image: url("stormtrooper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ff0000;

}

h1 {
  font-size: 30px;
  text-decoration: underline;
  font-weight: 600;

}

h2 {
    font-size: 22px;
    margin-top: 5px;
    font-weight: 300;

}

p, li {
    font-size: 22px;
    font-weight: 500;
}
